<f:layout name="Default" />
<f:section name="main">

<div id="piwigo">
  <div class="breadcrumb">
    <f:render partial="Breadcrumb" arguments="{breadcrumb: breadcrumb, current: current}"></f:render>
  </div>

  <f:if condition="{images}">
    <f:then>
      <f:if condition="{categories}">
        <f:render partial="Categories" arguments="{categories: categories}"></f:render>
      </f:if>
      <f:render partial="Jssor/Images" arguments="{images: images}"></f:render>

    </f:then>
    <f:else>
      <f:if condition="{categories}">
        <f:render partial="Categories" arguments="{categories: categories}"></f:render>
      </f:if>
    </f:else>

  </f:if>
</div>
</f:section>